@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-montserrat: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

    --font-opensans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-white: #faf8f8;
    --color-primary: #22221d;
    --color-gray-light: #72726b;
    --color-gray-lighter: #d8d8d1;
    --color-gray-super-light: #faf8f8;
    --color-sage: rgba(183, 182, 153, 0.1);
    --color-dark-sage: #b7b699;
    --color-red-light: #f79494;
    --color-green-light: #A3DC9A;
    --color-yellow-100: #fef3c7;
    --color-yellow-800: #92400e;
}
